$desktop-content-max-width: 1680px;
$body-min-width: 320px;

$main-text-color: #1C4F88;
$additional-text-color: #fff;
$light-text-color: #8DA7C3;

$menu-bg-color: rgba(255, 255, 255, 0.6);
$body-bg-color: #fff;
$copyright-bg-color: #1C4F88;

$menu-link-active-color: #DA753C;
