.contacts {

  @include flex(row, center, flex-end, wrap);

  &__icon {
    margin-right: 2rem;
  }

  &__number {
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.8em;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {

  .contacts {
    justify-content: center;

    &__icon {
      margin-right: 0;
    }
  }
}
