.gallery {

  @include flex(row, center, center, wrap);

  &__image {
    flex-grow: 1;
    max-width: 400px;
    display: flex;
    margin: 0.625rem;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .gallery__image {
    margin: 0.625rem 0;
  }
}
