$line-width: 40px;

.navigation-group {
  list-style: none;
  font-size: 1.5rem;

  @include flex(row);

  &__item {
    display: inline-flex;

    a {
      padding: 1.8rem 1.55rem;
    }
  }
}

.item--hidden {
  position: relative;
  font-size: 0;
  padding-top: 5.1rem;
  width: $line-width;
  cursor: pointer;

  a {
    padding: 0;
  }

  &::before,
  &::after {
    position: absolute;
    background-color: $copyright-bg-color;
    content: '';
    top: 2.2rem;
    left: 0.6rem;

    @include size(100%, ($line-width * 0.1));
  }

  &::after {
    width: 60%;
    top: 2.8rem;
  }
}

.item--actived {
  color: $menu-link-active-color;
}

.item--underlined {
  text-decoration: underline;
}
