#footer {
  padding: 2rem 0;

  .inner-wrapper {

    @include flex(row, center, space-between, wrap);
  }

  .logo {
    width: 85%;
    margin-top: -0.6rem;
  }

  .navigation-menu {
    width: 100%;
    margin: 1rem 0 1.8rem;
  }

  .navigation-group {
    font-size: 1.125rem;

    &__item {

      a {
        padding: 1.8rem 1.9rem;
      }

      &:first-child a {
        padding-left: 0;
      }
    }
  }

  .grid {
    width: 100%;
    margin-bottom: 2.3rem;
    font-size: 0.875rem;

    &__column {
      width: 25%;
      padding: 0;

      li {
        position: relative;
        margin-bottom: 14px;
        padding-left: 0.7rem;
        list-style: none;

        &::after {
          position: absolute;
          top: calc(50% - 1.5px);
          left: 0;
          background-color: $main-text-color;
          border-radius: 50%;
          content: '';

          @include size(3px);
        }
      }
    }
  }

  .copyright {
    width: 100%;
    padding: 1.6rem 0.625rem;
    font-size: 0.75rem;
    text-align: center;
    color: $additional-text-color;
    background-color: $copyright-bg-color;
  }
}
