#header {
  position: relative;
  width: 100%;
  padding: 0.625rem 0.625rem 0.5rem;

  .inner-wrapper {
    padding-bottom: 0.5rem;

    @include flex(row, center, space-between, wrap);
  }

  .logo {
    margin-top: 0.625rem;
  }

  h1.logo {
    display: none;
  }

  .timetable {
    margin-left: 28%;
  }

  .navigation {

    &-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $menu-bg-color;
      backdrop-filter: blur(10px);
    }

    &-group {
      max-width: $desktop-content-max-width;
      margin: 0 auto;
    }
  }
}
